<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yedam.emp.mapper.EmpMapper">
  <select id="empList" resultType="com.yedam.emp.vo.EmpVO">
    select employee_id, first_name, last_name, email, job_id, to_char(hire_date, 'yyyy-mm-dd') hire_date from emp_temp order by employee_id
  </select>
  <select id="getEmp" resultType="com.yedam.emp.vo.EmpVO" parameterType="int">
    select * from emp_temp where employee_id = #{empId}
  </select>
  <select id="addEmp" parameterType="com.yedam.emp.vo.EmpVO">
  	insert into emp_temp(employee_id, last_name, email, hire_date, job_id) values #{employeeId}, #{lastName}, #{email}, #{hireDate}, #{jobId}
  </select>
<!--   <select id="jobList" resultType="map"> -->
<!--   	select job_id as "jobId", job_title as "jobTitle" from jobs order by job_id -->
<!--   </select> -->
  <update id="modEmp" parameterType="com.yedam.emp.vo.EmpVO">
  	update emp_temp set last_name = #{lastName}, email = #{email}, hire_date = #{hireDate}, job_id = #{jobId} where employee_id = #{employeeId}
  </update>
  <delete id="removeEmp" parameterType="int">
  	delete from emp_temp where employee_id=#{empId}
  </delete>
</mapper>